{% extends 'TaskPlannerBundle::taskbase.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/tasklist.css')}}">{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url('user_index')}}"><span class="glyphicon glyphicon-home"></span> Task Planner</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a  class="navbar-brand" href="{{ url('main')}}">Add Tasks and Categories</a></li>
                    <li><a  class="navbar-brand" href="{{ url('editCat')}}">Category Manager</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-brand" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="all">
        <div class="tables">
            <div class="table1">
                <h2>Tasks To Do:</h2>

                <table class="table table-hover table-bordered">
                    <tr>
                        <th>Id:</th>
                        <th>Name:</th>
                        <th>Description:</th>
                        <th>Category:</th>
                        <th>Task End Date:</th>
                        <th>Comment:</th>
                        <th>Edit</th>
                        <th>Status</th>
                        <th>Delete</th>
                    </tr>
                    {% for task in taskDate %}
                        <tr class="bg-info">
                            <td>{{ loop.index }}</td>
                            <td><strong>{{ task.name }}</strong></td>
                            <td>{{ task.description | length > 50 ? task.description | slice(0,50)~'...':task.description}}</td>
                            <td>{{ task.category.name}}</td>
                            <td><span class="date">{{ task.deadLine.date | date('Y-m-d')}}</span></td>
                            <td><a class="btn btn-default" href="{{ url('addComm', {'id':task.id})}}">Comment({{task.comments|length}})</a></td>
                            <td><a class="btn btn-default" href="{{ url('editTask', {'id':task.id})}}">Edit</a></td>
                            <td><a class="btn btn-default" href="{{ url('changeStatus', {'id':task.id})}}">Done!</a></td>
                            <td><a class="btn btn-default" href="{{ url('deleteTask', {'id':task.id})}}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="tables">
            <div class="table2">
                <h2>Tasks Completed:</h2>

                <table class="table table-hover table-bordered">
                    <tr>
                        <th>Id:</th>
                        <th>Name:</th>
                        <th>Task End Date:</th>
                        <th>Delete</th>
                    </tr>
                    {% for task in taskStatus %}
                        <tr class="bg-success">
                            <td>{{ loop.index }}</td>
                            <td><strong>{{ task.name }}</strong></td>
                            <td><span class="date">{{ task.deadLine.date | date('Y-m-d')}}</span></td>
                            <td><a class="btn btn-default" href="{{ url('deleteTask', {'id':task.id})}}">Delete</a></td>
                        </tr>

                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="tables">
        <div class="containLast">
            <div class="last">
                <h2>Not Completed:</h2>
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>Id:</th>
                        <th>Name:</th>
                        <th>Description:</th>
                        <th>Category:</th>
                        <th>Task End Date:</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for task in tasks %}
                        <tr class="bg-danger">
                            <td>{{ loop.index }}</td>
                            <td><strong>{{ task.name }}</strong></td>
                            <td>{{ task.description | length > 50 ? task.description | slice(0,50)~'...':task.description}}</td>
                            <td>{{ task.category.name}}</td>
                            <td><span class="date">{{ task.deadLine.date | date('Y-m-d')}}</span></td>
                            <td><a class="btn btn-default" href="{{ url('editTask', {'id':task.id})}}">Edit</a></td>
                            <td><a class="btn btn-default" href="{{ url('deleteTask', {'id':task.id})}}">Delete</a></td>
                        </tr>

                    {% endfor %}
                </table>
            </div>
        </div>
        </div>
        <nav class="navbar navbar-inverse  navbar-fixed-bottom" role="navigation">
            <div class="container text-center">
                <p class="navbar-text col-md-12 col-sm-12 col-xs-12">&copy; Kamilos</p>
            </div>
        </nav>
    </div>
{% endblock %}